.bg2-img{
    width: 100%;
    /* background-image: url("./map1.png");
    -webkit-filter: blur(0px);
    filter: blur(0px); */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -22px;
}